# Model building
public net.minecraft.client.model.geom.ModelPart children
public net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex

# Skull block rendering
public net.minecraft.client.renderer.blockentity.SkullBlockRenderer SKIN_BY_TYPE
public net.minecraft.world.level.block.entity.SkullBlockEntity isAnimating

# Campfire
public net.minecraft.world.level.block.entity.CampfireBlockEntity items

#SRG
public net.minecraft.client.model.geom.ModelPart f_104213_
public net.minecraft.client.model.geom.ModelPart$Cube f_104341_

public net.minecraft.client.renderer.blockentity.SkullBlockRenderer f_112519_
public net.minecraft.world.level.block.entity.SkullBlockEntity f_260642_

public net.minecraft.world.level.block.entity.CampfireBlockEntity f_59042_